@model IEnumerable<Client>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<a asp-action="Create">Create new Client</a>
<h2>Clients database:</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Client c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.Age</td>
                <td>@c.Phone</td>
                <td><a asp-action="Update" asp-route-cname="@c.Name">Update</a></td>
                <td>
                    <form asp-route-cname="@c.Name" asp-action="Delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>